<%- include("partials/header"); %>

<div class="contact-page">
  <h1>Contact Us</h1>
  <h4>In this world, everything costs money. But we would like to help you with that. And we did it.</h4>
  <h4>Feel free to talk to us, and we will respond at our best convenience.</h4>
</div>

<div class="contact-page-category container mx-auto">
  <div class="row">
    <div class="contact-page-category-col1 col-md-4">
      <div class="contact-page-category-list contact-page-category-reservation">
        <h3>Reservation</h3>
        <p>Questions on reservation</p>
        <a class="contact-page-category-ask" href="#">Ask</a>
      </div>

      <div class="contact-page-category-list contact-page-category-services">
        <h3>Services</h3>
        <p>Questions on services</p>
        <a class="contact-page-category-ask" href="#">Ask</a>
      </div>
    </div>

    <div class="contact-page-category-col2 col-md-4">
      <div class="contact-page-category-list contact-page-category-pricing">
        <h3>Pricing</h3>
        <p>Questions on pricing</p>
        <a class="contact-page-category-ask" href="#">Ask</a>
      </div>

      <div class="contact-page-category-list contact-page-category-technical">
        <h3>Technical</h3>
        <p>Questions on technical issues</p>
        <a class="contact-page-category-ask" href="#">Ask</a>
      </div>
    </div>

    <div class="contact-page-category-col3 col-md-4">
      <div class="contact-page-category-list contact-page-category-currency">
        <h3>Currency</h3>
        <p>Questions on currency</p>
        <a class="contact-page-category-ask" href="#">Ask</a>
      </div>

      <div class="contact-page-category-list contact-page-category-etc">
        <h3>General</h3>
        <p>Ask us anything</p>
        <a class="contact-page-category-ask" href="#">Ask</a>
      </div>
    </div>
  </div>

  <div class="contact-page-social-network">
    <a href="#"><i class="contact-page-icon fab fa-4x fa-instagram"></i></a>
    <a href="#"><i class="contact-page-icon fab fa-4x fa-facebook"></i></a>
    <a href="#"><i class="contact-page-icon fab fa-4x fa-twitter"></i></a>
    <a href="#"><i class="contact-page-icon fab fa-4x fa-snapchat"></i></a>
  </div>
</div>

<%- include("partials/footer"); %>
