<%- include("partials/header"); %>

<div class="cta-page">
  <div class="cta-bait">
    <h3>Keep posted to get special offers and promo codes.</h3>
    <h5>
      Coupons for free F&B coupons, amenities discount, free spa or massage,
      yoga session or cooking class.
    </h5>
    <h5>Try your luck!</h5>
  </div>
  <form action="/cta" method="post">
    <h5>Enter your email to...</h5>
    <input
      type="email"
      class="cta-subscription-email"
      name="ctaSubscriptionEmail"
    />
    <button class="subscripbe-button" type="submit">Subscribe!</button>
  </form>
</div>

<%- include("partials/footer"); %>
