<%- include("partials/header"); %>

<div class="cta-page">
  <h3>Subscribe to get daily/weekly/monthly offers and promo codes.</h3>
  <form action="/cta" method="post">
    <input type="email" class="cta-subscription-email" name="ctaSubscriptionEmail" />
    <button type="submit">Subscribe</button>
  </form>
</div>

<%- include("partials/footer"); %>
