<%- include("partials/header"); %>
<div class="download-app-page container">
  <div class="row">
    <div class="download-app-buttons mx-auto">
      <a href="/downloadApp"
        ><button type="button" class="btn btn-dark dwld-btn">
          <i class="fab fa-apple"></i> Download
        </button></a
      >
      <a href="/downloadApp"
        ><button type="button" class="btn btn-outline-dark dwld-btn">
          <i class="fab fa-google-play"></i> Download
        </button></a
      >
    </div>

    <div class="card-group downloadApp-page-info mx-auto">
      <div class="card border-dark">
        <img src="..." class="card-img-top" alt="Drinks" />
        <div class="card-body text-dark">
          <h5 class="card-title">Unlimited Drinks</h5>
          <p class="card-text">
            Every room is equipped with fully stocked minibar with which you can
            quench your thirst.
          </p>
        </div>
      </div>
      <div class="card border-dark">
        <img src="..." class="card-img-top" alt="Breakfast" />
        <div class="card-body text-dark">
          <h5 class="card-title">Breakfast for up to 1 accompanying adult</h5>
          <p class="card-text">
            One adult guest can have breakfast for free. It goes without saying
            that food is always free for kids!
          </p>
        </div>
      </div>
      <div class="card border-dark">
        <img src="..." class="card-img-top" alt="Pool" />
        <div class="card-body text-dark">
          <h5 class="card-title">Hotel Infinity Pool*</h5>
          <p class="card-text">
            Had enough food and beverage? It's time to use that energy in the
            pool then!
          </p>
          <p class="card-text">
            <small class="text-muted">*<em>Restrictions apply.</em></small>
          </p>
        </div>
      </div>
    </div>

    <div class="download-app-buttons mx-auto">
      <a href="/downloadApp"
        ><button type="button" class="btn btn-dark dwld-btn">
          <i class="fab fa-apple"></i> Download
        </button></a
      >
      <a href="/downloadApp"
        ><button type="button" class="btn btn-outline-dark dwld-btn">
          <i class="fab fa-google-play"></i> Download
        </button></a
      >
    </div>
  </div>
</div>
<%- include("partials/footer"); %>
