<%- include("partials/header"); %>
<div class="features-page flex-container">
  <div class="features-flex-items features-flex-one">
    <div class="feature-item feature-left">
      <h4>Incredibly competitive price.</h4>
      <p>
        This is not a real-world website, so we have no competitors at all! You
        pay what we tell you. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis in fugiat facere, harum beatae odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sit dicta dolor adipisci voluptates eius fugiat repudiandae, ad nobis labore.
      </p>
    </div>

    <div class="feature-photo feature-photo-right">
      <img src="img/price.png" alt="price img" />
    </div>
  </div>

  <div class="features-flex-items features-flex-two">
    <div class="feature-photo feature-photo-left">
      <img src="img/service.png" alt="price img" />
    </div>

    <div class="feature-item feature-right">
      <h4>Outstanding service.</h4>
      <p>
        We have no office, so we offer service "standing outside" somewhere. So
        our website may be unavailable when it rains. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente quas fuga dolor, eos ipsa inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, pariatur adipisci! Recusandae doloremque ratione architecto?
      </p>
    </div>
  </div>

  <div class="features-flex-items features-flex-three">
    <div class="feature-item feature-left">
      <h4>Customer-oriented spirit.</h4>
      <p>This part is true, except that we have no customers. But:</p>
      <ul>
        <li>We have spirits.</li>
        <li>Perhaps something can be done with this.</li>
        <li>No one knows what it's going to be.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, odit.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
      </ul>
    </div>

    <div class="feature-photo feature-photo-right">
      <img src="img/customer.png" alt="price img" />
    </div>
  </div>

  <div class="features-flex-items features-flex-four">
    <div class="feature-photo feature-photo-left">
      <img src="img/exp.png" alt="price img" />
    </div>

    <div class="feature-item feature-right">
      <h4>Unforgettable experience.</h4>
      <p>
        We guarantee that you will never forget anything that you experienced
        with us, since you'll never experience any. No gains, no pains! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sequi exercitationem dolor! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, velit alias? Saepe accusamus voluptatem doloribus omnis!
      </p>
    </div>
  </div>
</div>

<div class="features-whats-new">
  <div class="card-deck">
    <div class="card">
      <img src="img/agam.ico" class="card-img-top" alt="whatsnew1" />
      <div class="card-body">
        <h5 class="card-title">Partner companies</h5>
        <p class="card-text">Google, Twitter, Facebook, ...Have you ever heard of this story, by the way? It's a story of a person called Lorem ipsum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae quia, optio excepturi commodi at officia nostrum, nam sapiente nobis illum facere dolor necessitatibus, corporis mollitia id aliquid assumenda? Nostrum voluptate quo laborum temporibus accusamus numquam quibusdam eius quia laboriosam dolores!</p>
          <small class="text-muted">What about partner companies?</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="img/agam.ico" class="card-img-top" alt="whatsnew2" />
      <div class="card-body">
        <h5 class="card-title">No more offers</h5>
        <p class="card-text">This website itself will keep updated anyway. In the earyl 1800s, a person called Lorem ipsum said that "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, animi? Eligendi rerum expedita facilis voluptate, praesentium dignissimos neque quibusdam minima dolor ut, quia deleniti sunt consequuntur odio ex totam enim? Inventore totam rem voluptate dignissimos corporis ratione dolore ab architecto."</p>
        <p class="card-text"><small class="text-muted">So...any offers left or no?</small></p>
      </div>
    </div>
    <div class="card">
      <img src="img/agam.ico" class="card-img-top" alt="whatsnew3" />
      <div class="card-body">
        <h5 class="card-title">Announcements</h5>
        <p class="card-text">
          This is a huge card! I just ran out of things to write to fill the card in. But let me at least try. One day, I was having lunch at a local restaurant when a person tried to talk to me. Nope, nice try, but that person's not Lorem ipsum! The stranger told me a story about Lorem ipsum... Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe assumenda fugit magni. Voluptate ab architecto fugiat quidem reprehenderit temporibus.
        </p>
        <p class="card-text">
          <small class="text-muted">#IAmNotAWriter</small>
        </p>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); %>
