<%- include("partials/header"); %>

<!-- random pictures from lorem picsum -->

<div class="photos-page-text">
  <h2>Enjoy wonderful pictures from our customers.</h2>
  <small>(It goes without saying that these are just random pictures)</small>
</div>

<div class="photos container">
  <div class="row photos-row">
    <div class="photos-img-col col1 col-lg-3 col-sm-6">
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=01"
        alt="photos image 01"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=02"
        alt="photos image 02"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=03"
        alt="photos image 03"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=04"
        alt="photos image 04"
      />
    </div>

    <div class="photos-img-col col2 col-lg-3 col-sm-6">
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=05"
        alt="photos image 05"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=06"
        alt="photos image 06"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=07"
        alt="photos image 07"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=08"
        alt="photos image 08"
      />
    </div>

    <div class="photos-img-col col3 col-lg-3 col-sm-6">
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=09"
        alt="photos image 09"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=10"
        alt="photos image 10"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=11"
        alt="photos image 11"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=12"
        alt="photos image 12"
      />
    </div>

    <div class="photos-img-col col4 col-lg-3 col-sm-6">
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=13"
        alt="photos image 13"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=14"
        alt="photos image 14"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=15"
        alt="photos image 15"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=16"
        alt="photos image 16"
      />
    </div>

    <div class="photos-img-col col5 col-lg-3 col-sm-6">
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=17"
        alt="photos image 17"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=18"
        alt="photos image 18"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=19"
        alt="photos image 19"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=20"
        alt="photos image 20"
      />
    </div>

    <div class="photos-img-col col6 col-lg-3 col-sm-6">
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=21"
        alt="photos image 21"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=22"
        alt="photos image 22"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=23"
        alt="photos image 23"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=24"
        alt="photos image 24"
      />
    </div>

    <div class="photos-img-col col7 col-lg-3 col-sm-6">
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=25"
        alt="photos image 25"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=26"
        alt="photos image 26"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=27"
        alt="photos image 27"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=28"
        alt="photos image 28"
      />
    </div>

    <div class="photos-img-col col8 col-lg-3 col-sm-6">
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=29"
        alt="photos image 29"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=30"
        alt="photos image 30"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=31"
        alt="photos image 31"
      />
      <img
        class="photos-img"
        src="https://picsum.photos/640/427?random=32"
        alt="photos image 32"
      />
    </div>
  </div>

  <!-- pagination -->
  <div class="photos-page-pages">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="/photos" tabindex="-1" aria-disabled="false"
            >Previous</a
          >
        </li>
        <li class="page-item"><a class="page-link" href="/photos">1</a></li>
        <li class="page-item active"><a class="page-link" href="/photos2">2</a></li>
        <li class="page-item"><a class="page-link" href="/photos3">3</a></li>
        <li class="page-item">
          <a class="page-link" href="/photos3">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
  <%- include("partials/footer"); %>
