<%- include("partials/header"); %>

<div class="pricing-page container">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img src="img/agamtrim.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">Monthly<br>Auto Renewal</h4>
          <h5>$59.99 / Mo</h5>
          <p class="card-text">
            Renew premium service automatically every month to:
          </p>
          <ul>
              <li>Lorem ipsum dolor sit amet consectetur.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet consectetur.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet.</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">70% chance of successfully receiving all offers</small>
        </div>
      </div>
      <div class="card">
        <img src="img/agamtrim.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">Annual<br>Auto Renewal</h4>
          <h5>$799.99 / Yr</h5>
          <p class="card-text">
            Renew premium service automatically every year to:
          </p>
          <ul>
              <li>Lorem ipsum dolor sit amet consectetur.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet consectetur.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, et?</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
              <li>Lorem ipsum dolor sit amet consectetur.</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">60% chance of successfully receiving all offers</small>
        </div>
      </div>
      <div class="card border-dark">
        <img src="img/agamtrim.png" class="card-img-top" alt="..." />
        <div class="card-body text-dark">
          <h4 class="card-title">Lifelong<br>Auto Renewal</h4>
          <h5>$899.99 / Yr</h5>
          <p class="card-text">
            Renew premium service automatically until the day you leave this world to:
          </p>
          <ul>
              <li>Lorem ipsum dolor sit amet consectetur.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit, amet consectetur adipisicing.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet consectetur.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, et?</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
              <li>Lorem ipsum dolor sit amet consectetur.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">40% chance of successfully receiving all offers</small>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); %>
